/* Style the blog-title-container */
#blog-title-container {
    width: 100%;
    text-align: center;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Style the blog-title */
#blog-title {
    margin-top: 2em;
}


h1 {
    color: lightblue;
    
}

h1 span {
    color: pink;
}